@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/*404 error*/

.wraper__404 {
	display: block;
	background-image: url(../images/error.jpg);
	background-repeat: no-repeat;
	flex-direction: column;
    height: 1080px;
}
.back {
	display: flex;
    background-color: #7040b1;
    width: 15%;
    padding: 1%;
    border-radius: 5%;
    margin: 1% 1% 0 0;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(25, 28, 30, 0.2);
    -moz-box-shadow: 0px 0px 8px 8px rgba(25, 28, 30, 0.2);
    box-shadow: 0px 0px 8px 8px rgba(25, 28, 30, 0.2);
}
.row404 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*About__us*/

.about__us {
    background-image: url(../images/about_us.jpg);
    padding: 8% 15% 12% 15%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
.abouth1 {
	font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    text-align: center;
    color: #232323;
}
.infograpfic__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 87px;
}
.infograpfic__badge {
    width: 100%;
    max-width: 109px;
    padding: .5rem .5rem .5rem .5rem;
    margin-right: .625rem;
    display: inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 600;
    text-align: center;
    color: #232323;
}
.infograpfic__text {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
}
img {
    min-width: 300px;
    width: 100%;
    border-radius: 2%;
}
/*index*/

body {
    width: 100%;
}
* {
	font: 400 24px Comfortaa;
	text-decoration: none;
	margin: 0;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
	background-color: #fff;
}
header {
	display: block;
    background-color: #101010;
    min-height: 60px;
    padding-top: 2%;
}
/*text move text*/
@keyframes moveLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
h2 {
    font-size: 3em;
    animation: moveLeft .5s ease-out .3s backwards;
}
/*-------------------*/
nav {
	display: flex;
    justify-content: space-evenly;
}
a {
	color: #fff;
}
nav a {
	color: #fff;
}
p {
	color: #fff;
}
.travel__block {
	min-height: 480px;
	max-width: 1920px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	padding: 5% 0% 0% 12%;
    -webkit-box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
}
.country_index {
	display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 1 auto;
    background-color: #fff;
}
.country {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 1 auto;
    background-color: #fff;
}
.nav-link {
    display: block;
    height: 100%;
}
.link {
     width: 100%;
     height: 100%;
    }
.link a {
     display: block;
     text-align: center;
     height: 100%;
 }
.europe {
    display: flex;
    background-color: #dd962c;
    max-width: 560px;
    margin: 0 0% 2% 0%;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    -webkit-box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
}
.europe a {
    display: block;
    text-align: center;
    height: 100%;
}
.europe:hover {
    transform: scale(1.1);
    transition: 1s;
}
/*for region europe*/
.chose-europe {
    display: flex;
    max-width: 90%;
    background-color: #406bc3;
    margin: 0 5% 2% 5%;
    padding: 2%;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 13px 11px 0px rgb(34 60 80 / 20%);
    -moz-box-shadow: 0px 13px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 13px 11px 0px rgb(34 60 80 / 20%);
}
.chose-europe:hover {
    display: flex;
    background-color: #5883da;
    margin: 0 5% 2% 5%;
    padding: 2%;
    flex-direction: row;
    align-items: stretch;
    transform: scale(1.010);
    transition: 1s;
}
.info_country {
    margin: 3% 0% 3% 0%;
    padding: 0 5% 0 5%;
}
/*end*/
.country__region {
	color: #000;
}
.tab_panel_wrap {
    display: block;
    top: 65%;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -480px;
    text-align: left;
}.tab_panel_wrap .sections_wrap {
    background-color: #ccc;
    width: 960px;
    height: 124px;
    position: relative;
}
.tab_panel_wrap ul li {
    background-color: #000;
    color: #fff;
    list-style: none;
    padding: 1.3%;
    border-top-right-radius: 1% 20%;
    border-top-left-radius: 1% 20%;
}
.sections_wrap {
    height: 124px;
}
.mid-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1, h2, h3 {
	color: #fff;
}
h2, h3 {
	font: 700 70px Comfortaa;
}
h4 {
    font: 400 30px Comfortaa;
}
footer {
	background-color: #000;
	min-height: 60px;
	padding-top: 20px;
	padding-left: 20px;
}
@media screen and (max-width: 1405px) {
    .chose-europe {
        margin: 0% 0% 2% 0%;
    }
}
@media screen and (max-width: 1103px) {
    .europe {
        width: 100%;
        margin: 0% 5% 2% 5%;
    }
    .chose-europe {
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    a {
        font: 400 16px Comfortaa;
    }
    .chose-europe, .chose-europe:hover {
        flex-direction: column;
    }
    .nav-link {
        margin-top: 1%;
    }
    .back {
        width: 30%;
    }
}
@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .nav-link {
        display: block;
        margin: 2% 0 2% 0;
    }
    .travel__block {
    max-height: 100%;
    max-width: 100%;
    }
    .chose-europe {
        width: 100%;
    }
    a {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .chose-europe:hover {
    transform: none;
}
    .europe:hover {
        transform: none;
    }
    .back {
        width: 100%;
        margin-top: 50%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}